<article class="article article-repository article-type-list" itemscope="">
  <header class="article-header">
    <h1 itemprop="title"><%= page.title %></h1>
    <p class="text-muted">I have <span id="repo-count">0</span> projects on Github</p>
  </header>
  <div class="article-body">
    <div class="repo-content">
      <div class="blankslate">
        <p>正在加载...</p>
      </div>
    </div>
  </div>
</article>
<% if (theme.comment.type && !is_home()) { %>
  <%- partial('post/comment', {post: page}) %>
<% } %>

<!--Github项模版-->
<script type="text/template" id="list-template">
  <li class="col-sm-6 col-md-6 col-lg-4">
    <div class="repo hover-shadow hover-grow">
      <a href="{%=html_url%}" >
        <img src="https://github-readme-stats.vercel.app/api/pin/?username={%=owner.login%}&repo={%=name%}" alt="{%=name%}"/>
      </a>
    </div>
  </li>
</script>
<!--获取失败模版-->
<script type="text/template" id="error-template">
  <h3>加载失败</h3><p>请刷新或稍后再试...</p>
</script>